<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	<!-- <table>
<tr>
	<td rowspan="2" align="center"><img alt="CRESCENDO" src="/resources/images/school_logo.png"></td>
</tr>
<tr>
	<td align="center">CRESCENDO International Preschool</td>
	</tr><tr>
	<td align="center">Seegehalli Main Road, Kadugodi, Bangalore - 560067</td>
</tr>
</table> -->
	<div style="background-color: #CAFBFD" align="center">

		<span>
		<img style="vertical-align: middle; margin-bottom: 0.9em;border-radius: 50%"
			alt="CRESCENDO" src="/images/school_logo.png" height="70" width="80">
		</span>
		<span
			style="color: #FF0000; font-weight: bold; font-size: 30px; font-weight: bold">CRESCENDO</span>
		<span style="font-weight: bold; font-size: 30px; font-weight: bold">International
			Preschool</span>
	</div>
	<!--  <p> <span>Seegehalli Main Road, Kadugodi, Bangalore - 560067</span></p>
       <p> <span>Phone : </span></p> -->
</body>
</html>