<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>

#div {
align-self: center;
font-size: 50px;
font-style: bold;
}

#p {
align-self: center;
font-size: 30px;
font-style: bold;
}

.menulink:link, .menulink:visited, .menulink:focus {
  color: #000080;
  font-size: 20px;
  text-decoration: none;
}

.menulink:hover {     
  color: #33C4FF;
  font-size:150%;
}

.menulink:active {
  background: #CAFBFD;
  color: #000000;
}


</style>
</head>
<body>
<div align="center"><h2><b>Menu</b></h2></div>
<hr style="border: 2px solid black;" />
<p align="center"><a href="/enquiries/new" class="menulink">Create Enquiry</a>  </p>
<p align="center"><a href="/enquiries/viewenquiries" class="menulink">View All Enquiries</a></p>
<p align="center"><a href="/enquiries/searchenquiries" class="menulink">Enquiry Search</a></p>
<p align="center"><a href="/enquiries/searchefollowps" class="menulink">FollowUp Search</a></p>
<p align="center"><a href="/admissions/searchadmissions" class="menulink">Admission Search</a></p>
</body>
</html>